/**
 * Theme file
 * 
 * Here we define all the common variables to have an overview from the key 
 * properties. Even though in a small application it may not make sense to have
 * these separated, it helps a lot if the same components would be later shared
 * between applications.
**/
$fontSizeHeading1: 22px;
$fontWeightHeading1: 800;

$fontSizeBodyText: 16px;
$fontWeightBodyText: 300;

$colorPrimary: #0e0e0e;
